<h2 id="title">Tap debug</h2>


{{#x-tap}}
  <button {{action "implicitTap" target="view"}}>Wrapped implicit action</button>
  <button {{action "explicitTap" target="view" on="tap"}}>Wrapped explicit action</button>
  {{#x-tap}}
    <button {{action "implicitTap" target="view"}}>Wrapped implicit action</button>
    <button {{action "explicitTap" target="view" on="tap"}}>Wrapped explicit action</button>
    {{#x-tap}}
      <button {{action "implicitTap" target="view"}}>Wrapped implicit action</button>
      <button {{action "explicitTap" target="view" on="tap"}}>Wrapped explicit action</button>
      {{#x-tap}}
        <button {{action 'implicitTap' target="view"}}>Wrapped implicit action</button>
        <button {{action "explicitTap" target="view" on="tap"}}>Wrapped explicit action</button>
      {{/x-tap}}
    {{/x-tap}}
  {{/x-tap}}
{{/x-tap}}


{{outlet}}
