<h2 id="title">Tap debug</h2>


{{#x-tap}}
  <button {{action "tapAction" target="view"}}>Action</button>
  {{#x-tap}}
    <button {{action "tapAction" target="view"}}>Action</button>
    {{#x-tap}}
      <button {{action "tapAction" target="view"}}>Action</button>
      {{#x-tap}}
        <button {{action 'tapAction' target="view"}}>Action</button>
      {{/x-tap}}
    {{/x-tap}}
  {{/x-tap}}
{{/x-tap}}


{{outlet}}
